<!DOCTYPE html>
<html ng-app="offline-menu" manifest="offline-menu.appcache">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Offline Menu</title>
	<link rel="manifest" href="./manifest.json" />
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body id="offline-menu" ng-controller="menuCtrl" class="d-flex align-items-center justify-content-center">

	<div class="container">
		<div class="row">
			<div class="col-10 mx-auto text-center">
				<h1>Offline Menu</h1>
			</div>
			<div class="col-10 mx-auto my-2">
				<button class="btn btn-light border-secondary btn-block" ng-repeat="m in menu" data-toggle="modal" data-target="#{{m.name}}">{{m.name}}</button>
			</div>
		</div>
	</div>
	<!-- The Modal -->
	<div class="modal fade" id="{{m.name}}" ng-repeat="m in menu">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<button type="button" class="close btn-block text-right p-3" data-dismiss="modal">&times;</button>
				<!-- Modal body -->
				<div class="modal-body text-center">
					<h1>{{m.name}}</h1>
					<p ng-repeat="item in m.items_list">{{item}}</p>
				</div>
			</div>
		</div>
	</div>

	<script src="./js/jquery.min.js"></script>
	<script src="./js/popper.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/angular.min.js"></script>
	<script src="./js/ngStorage.min.js"></script>
	<script src="./js/script.js"></script>
</body>
</html>